name: NPM Release

on:
    push:
        tags:
        - '*'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Get tag
              id: tag
              uses: dawidd6/action-get-tag@v1

            - uses: actions/setup-node@v3
              with:
                  node-version: 18
                  registry-url: https://registry.npmjs.org/

            - name: npm install
              run: npm install

            - name: npm run build
              run: npm run build

            - name: npm publish
              run: npm publish
              env:
                  NPM_TOKEN: ${{ secrets.NPM_SECRET }}
